.layout {
display: flex;
height: 100vh;
font-family: Arial;
}


.sidebar {
width: 220px;
background: lavender;
padding: 20px;
}


.sidebar a {
display: block;
padding: 10px;
margin-top: 10px;
background: #e5d4ff;
text-decoration: none;
border-radius: 6px;
}


.content {
flex: 1;
padding: 20px;
}